/* Css file for threadly project */

@import '_fonts';

$ptsansfont : 'PT Sans Caption';

body {

    font-family: $ptsansfont;

    .header {
        font-weight: 700;
        font-size: 2em;
    }
}
